.todo-list {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 93%;

}

.add-task-button {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
}

.task-cards {
    display: flex;
    flex-direction: column;

}

.task-card {
    background-color: #fff;
    padding: 1px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.task-info {
    flex-grow: 1;
    margin-right: 20px;
    text-align: left;
    margin-left: 5%;
}

.delete-button {
    padding: 10px;
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 2%;
    margin-top: 4%;
}

.h2 {
    text-align: center;
}

.taskp {
    margin-top: -7%;
    margin-right: -7%;
    color: blue;
    font-weight: bold;
}